html {
  background-color: #f2f1ed;
  font-family: Georgia;
  line-height: 1.5;
}

h2 {
  color: #5d8432;
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  color: #5d8432;
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  color: #5d8432;
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  text-align: center;
}

img {
  width: 100%;
}

a {
  font-family: "Patua One", cursive;
  font-size: 1.125rem;
  color: #793284;
}

main figcaption {
  font-size: 1rem;
}

figcaption {
  font-size: .8rem;
}

figure {
  font-size: .75rem;
}

main + h2 {
  font-size: 1rem;
}

a:hover {
  color: #b42885;
}
