html {
  background-color: #f2f1ed;
  font-family: Georgia;
  line-height: 1.5;
}

h1 {
  color: #5d8432;
}

a {
  font-family: "Patua One", cursive;
  font-size: 1.125rem;
  color: #793284;
}

a:hover {
  color: #b42885;
}
