html {
  background-color: #f2f1ed;
}
html {
  font-family: Georgia;
  line-height: 1.5;
}

h1 {
  color:#5d8432;
}

ul {
  font-size: 1.125rem;
  color: #793284
}

ul,
ul:hover {
  color: #b42885;
}
